<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>价格由高到底</title>
</head>
<body>
<div>
    <tr>
        <th>产品ID</th>
        <th>名称</th>
        <th>价格</th>
        <!--        <th>市场价格</th>-->
        <th>库存</th>
        <th>图片</th>
    </tr>

    </thead>
    <tbody>
    <li th:each="dllproduct : ${dllProduct}">
        <tr>
            <td th:text="${dllproduct.id}"></td>
            <td th:text="${dllproduct.name }"></td>
            <td th:text="${dllproduct.price }"></td>
            <!--            <td th:text="${product.marketPrice}"></td>-->
            <td th:text="${dllproduct.store }"></td>
            <!--                    <td th:text="${product.productImage}"></td>-->
            <img th:src="${dllproduct.productImage}" >
        </tr>
    </li>
</div>
</body>
</html>