<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingshixun.project.eshop.module.personal.dao.PersonalDaoMyBatis">
	<select id="getProductId" resultType="Long">
		SELECT
		  pr.product_id
		FROM
		  productid pr
		WHERE
		  member_id
	
	</select>
	
	<select id="getProducts" resultType="ProductDTO">
		SELECT
		  pr.id,
          pr.name,
          pr.productImage,
          pr.marketPrice,
          pd.createTime
		FROM
		  qsx_product pr,
		  productid pd
		WHERE
		  pr.id=pd.product_id
		  AND
		  pd.member_id=#{memberId}
		  ORDER BY createTime desc
		
	</select>

  <insert id="saveIds" >
  	INSERT INTO productId (
  	  product_id,
  	  member_id,
  	  createTime
  	)
  	VALUES (
  	  #{productId},
  	  #{memberId},
  	  #{createTime}
  	)
  	
  </insert>
  
  <delete id="deleteHistory">  
        DELETE 
        
        FROM 
        
        productid 
        
        WHERE 
        
        createTime = #{createTime}  
        
</delete>

</mapper>